<main class="pricing">
  <h1 class="pricing__title">GESTIÓN DE FACTURAS, RUTAS & PAGOS</h1>
  <p class="pricing__subtitle">
    Selecciona una de las opciones para trabajar con las facturas.
  </p>

  <section class="pricing__cards">
    <article class="card">
      <h2 class="card__title">FACTURAS 📑</h2>
      <p class="card__price">Contraseñas a facturas</p>
      <ul class="card__features">
        <li>Actualizar estado de registrado a pendiente de pago</li>
        <li>Consultar facturas pendientes por contraseña</li>
        <!--<li>Consultar por fechas, código y descripción</li>-->
      </ul>
      <a routerLink="/rutas" class="card__button">Ir a Facturas</a>
    </article>

    <article class="card">
      <h2 class="card__title">PAGOS 🪙</h2>
      <p class="card__price">Aplicación de pagos</p>
      <ul class="card__features">
        <li>Consultar facturas con contraseña asignada</li>
        <li>Registrar pagos parciales o totales</li>
        <li>Control de estado de pago y demas...</li>
      </ul>
      <a routerLink="/pagos" class="card__button card__button--secondary">Ir a Pagos</a>
    </article>

    <article class="card">
      <h2 class="card__title">REPORTES 📈📊</h2>
      <p class="card__price">Consulta general</p>
      <ul class="card__features">
        <li>Consultar facturas pendientes por contraseña</li>
        <li>Ver facturas con contraseña asignada</li>
        <li>Entre otros...</li>
      </ul>
      <a routerLink="/reportes" class="card__button card__button--dark">Ir a Reportes</a>
    </article>
  </section>
</main>
